[submodule "projects/webcrawler"]
	path = projects/webcrawler
	url = git@github.com:ben-muldrow/webcrawler.git
[submodule "ostep-code"]
	path = ostep-code
	url = git@github.com:remzi-arpacidusseau/ostep-code.git
[submodule "ostep-homework"]
	path = ostep-homework
	url = git@github.com:remzi-arpacidusseau/ostep-homework.git
[submodule "projects/initial-xv6/src"]
	path = projects/initial-xv6/src
	url = https://github.com/mit-pdos/xv6-public
[submodule "xv6-public"]
	path = xv6-public
	url = git://github.com/mit-pdos/xv6-public.git
